<h2>Change to Coin!</h2>
<form action="/change">
  <div class="form-group">
    <label for="change">Enter your change in cents:</label>
    <input type="text" name="change" id='change' class="form-control">

  </div>
  <button type="submit" class="btn btn-success">Change!</button>
</form>
